<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.midea.cmo2o.wx.impl.dao.TOrderMainMapper" >
  <resultMap id="BaseResultMap" type="com.midea.cmo2o.wx.impl.entity.TOrderMain" >
    <id column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="activity_id" property="activityId" jdbcType="BIGINT" />
    <result column="parent_order_id" property="parentOrderId" jdbcType="VARCHAR" />
    <result column="ticket_id" property="ticketId" jdbcType="VARCHAR" />
    <result column="order_type" property="orderType" jdbcType="TINYINT" />
    <result column="item_amount" property="itemAmount" jdbcType="DECIMAL" />
    <result column="discount_amount" property="discountAmount" jdbcType="DECIMAL" />
    <result column="adjust_amount" property="adjustAmount" jdbcType="DECIMAL" />
    <result column="payment_amount" property="paymentAmount" jdbcType="DECIMAL" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="order_status" property="orderStatus" jdbcType="TINYINT" />
    <result column="refund_status" property="refundStatus" jdbcType="TINYINT" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="cancel_operator_id" property="cancelOperatorId" jdbcType="BIGINT" />
    <result column="cancel_operator_name" property="cancelOperatorName" jdbcType="VARCHAR" />
    <result column="cancel_time" property="cancelTime" jdbcType="TIMESTAMP" />
    <result column="cashier_id" property="cashierId" jdbcType="BIGINT" />
    <result column="cashier_name" property="cashierName" jdbcType="VARCHAR" />
    <result column="pay_counter" property="payCounter" jdbcType="INTEGER" />
    <result column="print_count" property="printCount" jdbcType="INTEGER" />
    <result column="print_time" property="printTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    order_id, activity_id, parent_order_id, ticket_id, order_type, item_amount, discount_amount, 
    adjust_amount, payment_amount, pay_time, order_status, refund_status, memo, cancel_operator_id, 
    cancel_operator_name, cancel_time, cashier_id, cashier_name, pay_counter, print_count, 
    print_time, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.midea.cmo2o.wx.impl.entity.TOrderMainExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_order_main
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_order_main
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_order_main
    where order_id = #{orderId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.midea.cmo2o.wx.impl.entity.TOrderMainExample" >
    delete from t_order_main
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.midea.cmo2o.wx.impl.entity.TOrderMain" >
    insert into t_order_main (order_id, activity_id, parent_order_id, 
      ticket_id, order_type, item_amount, 
      discount_amount, adjust_amount, payment_amount, 
      pay_time, order_status, refund_status, 
      memo, cancel_operator_id, cancel_operator_name, 
      cancel_time, cashier_id, cashier_name, 
      pay_counter, print_count, print_time, 
      create_time, update_time)
    values (#{orderId,jdbcType=VARCHAR}, #{activityId,jdbcType=BIGINT}, #{parentOrderId,jdbcType=VARCHAR}, 
      #{ticketId,jdbcType=VARCHAR}, #{orderType,jdbcType=TINYINT}, #{itemAmount,jdbcType=DECIMAL}, 
      #{discountAmount,jdbcType=DECIMAL}, #{adjustAmount,jdbcType=DECIMAL}, #{paymentAmount,jdbcType=DECIMAL}, 
      #{payTime,jdbcType=TIMESTAMP}, #{orderStatus,jdbcType=TINYINT}, #{refundStatus,jdbcType=TINYINT}, 
      #{memo,jdbcType=VARCHAR}, #{cancelOperatorId,jdbcType=BIGINT}, #{cancelOperatorName,jdbcType=VARCHAR}, 
      #{cancelTime,jdbcType=TIMESTAMP}, #{cashierId,jdbcType=BIGINT}, #{cashierName,jdbcType=VARCHAR}, 
      #{payCounter,jdbcType=INTEGER}, #{printCount,jdbcType=INTEGER}, #{printTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.midea.cmo2o.wx.impl.entity.TOrderMain" >
    insert into t_order_main
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="parentOrderId != null" >
        parent_order_id,
      </if>
      <if test="ticketId != null" >
        ticket_id,
      </if>
      <if test="orderType != null" >
        order_type,
      </if>
      <if test="itemAmount != null" >
        item_amount,
      </if>
      <if test="discountAmount != null" >
        discount_amount,
      </if>
      <if test="adjustAmount != null" >
        adjust_amount,
      </if>
      <if test="paymentAmount != null" >
        payment_amount,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="refundStatus != null" >
        refund_status,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="cancelOperatorId != null" >
        cancel_operator_id,
      </if>
      <if test="cancelOperatorName != null" >
        cancel_operator_name,
      </if>
      <if test="cancelTime != null" >
        cancel_time,
      </if>
      <if test="cashierId != null" >
        cashier_id,
      </if>
      <if test="cashierName != null" >
        cashier_name,
      </if>
      <if test="payCounter != null" >
        pay_counter,
      </if>
      <if test="printCount != null" >
        print_count,
      </if>
      <if test="printTime != null" >
        print_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="activityId != null" >
        #{activityId,jdbcType=BIGINT},
      </if>
      <if test="parentOrderId != null" >
        #{parentOrderId,jdbcType=VARCHAR},
      </if>
      <if test="ticketId != null" >
        #{ticketId,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=TINYINT},
      </if>
      <if test="itemAmount != null" >
        #{itemAmount,jdbcType=DECIMAL},
      </if>
      <if test="discountAmount != null" >
        #{discountAmount,jdbcType=DECIMAL},
      </if>
      <if test="adjustAmount != null" >
        #{adjustAmount,jdbcType=DECIMAL},
      </if>
      <if test="paymentAmount != null" >
        #{paymentAmount,jdbcType=DECIMAL},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=TINYINT},
      </if>
      <if test="refundStatus != null" >
        #{refundStatus,jdbcType=TINYINT},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="cancelOperatorId != null" >
        #{cancelOperatorId,jdbcType=BIGINT},
      </if>
      <if test="cancelOperatorName != null" >
        #{cancelOperatorName,jdbcType=VARCHAR},
      </if>
      <if test="cancelTime != null" >
        #{cancelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cashierId != null" >
        #{cashierId,jdbcType=BIGINT},
      </if>
      <if test="cashierName != null" >
        #{cashierName,jdbcType=VARCHAR},
      </if>
      <if test="payCounter != null" >
        #{payCounter,jdbcType=INTEGER},
      </if>
      <if test="printCount != null" >
        #{printCount,jdbcType=INTEGER},
      </if>
      <if test="printTime != null" >
        #{printTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.midea.cmo2o.wx.impl.entity.TOrderMainExample" resultType="java.lang.Integer" >
    select count(*) from t_order_main
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_order_main
    <set >
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.activityId != null" >
        activity_id = #{record.activityId,jdbcType=BIGINT},
      </if>
      <if test="record.parentOrderId != null" >
        parent_order_id = #{record.parentOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.ticketId != null" >
        ticket_id = #{record.ticketId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderType != null" >
        order_type = #{record.orderType,jdbcType=TINYINT},
      </if>
      <if test="record.itemAmount != null" >
        item_amount = #{record.itemAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.discountAmount != null" >
        discount_amount = #{record.discountAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.adjustAmount != null" >
        adjust_amount = #{record.adjustAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.paymentAmount != null" >
        payment_amount = #{record.paymentAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.payTime != null" >
        pay_time = #{record.payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderStatus != null" >
        order_status = #{record.orderStatus,jdbcType=TINYINT},
      </if>
      <if test="record.refundStatus != null" >
        refund_status = #{record.refundStatus,jdbcType=TINYINT},
      </if>
      <if test="record.memo != null" >
        memo = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.cancelOperatorId != null" >
        cancel_operator_id = #{record.cancelOperatorId,jdbcType=BIGINT},
      </if>
      <if test="record.cancelOperatorName != null" >
        cancel_operator_name = #{record.cancelOperatorName,jdbcType=VARCHAR},
      </if>
      <if test="record.cancelTime != null" >
        cancel_time = #{record.cancelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cashierId != null" >
        cashier_id = #{record.cashierId,jdbcType=BIGINT},
      </if>
      <if test="record.cashierName != null" >
        cashier_name = #{record.cashierName,jdbcType=VARCHAR},
      </if>
      <if test="record.payCounter != null" >
        pay_counter = #{record.payCounter,jdbcType=INTEGER},
      </if>
      <if test="record.printCount != null" >
        print_count = #{record.printCount,jdbcType=INTEGER},
      </if>
      <if test="record.printTime != null" >
        print_time = #{record.printTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_order_main
    set order_id = #{record.orderId,jdbcType=VARCHAR},
      activity_id = #{record.activityId,jdbcType=BIGINT},
      parent_order_id = #{record.parentOrderId,jdbcType=VARCHAR},
      ticket_id = #{record.ticketId,jdbcType=VARCHAR},
      order_type = #{record.orderType,jdbcType=TINYINT},
      item_amount = #{record.itemAmount,jdbcType=DECIMAL},
      discount_amount = #{record.discountAmount,jdbcType=DECIMAL},
      adjust_amount = #{record.adjustAmount,jdbcType=DECIMAL},
      payment_amount = #{record.paymentAmount,jdbcType=DECIMAL},
      pay_time = #{record.payTime,jdbcType=TIMESTAMP},
      order_status = #{record.orderStatus,jdbcType=TINYINT},
      refund_status = #{record.refundStatus,jdbcType=TINYINT},
      memo = #{record.memo,jdbcType=VARCHAR},
      cancel_operator_id = #{record.cancelOperatorId,jdbcType=BIGINT},
      cancel_operator_name = #{record.cancelOperatorName,jdbcType=VARCHAR},
      cancel_time = #{record.cancelTime,jdbcType=TIMESTAMP},
      cashier_id = #{record.cashierId,jdbcType=BIGINT},
      cashier_name = #{record.cashierName,jdbcType=VARCHAR},
      pay_counter = #{record.payCounter,jdbcType=INTEGER},
      print_count = #{record.printCount,jdbcType=INTEGER},
      print_time = #{record.printTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.midea.cmo2o.wx.impl.entity.TOrderMain" >
    update t_order_main
    <set >
      <if test="activityId != null" >
        activity_id = #{activityId,jdbcType=BIGINT},
      </if>
      <if test="parentOrderId != null" >
        parent_order_id = #{parentOrderId,jdbcType=VARCHAR},
      </if>
      <if test="ticketId != null" >
        ticket_id = #{ticketId,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        order_type = #{orderType,jdbcType=TINYINT},
      </if>
      <if test="itemAmount != null" >
        item_amount = #{itemAmount,jdbcType=DECIMAL},
      </if>
      <if test="discountAmount != null" >
        discount_amount = #{discountAmount,jdbcType=DECIMAL},
      </if>
      <if test="adjustAmount != null" >
        adjust_amount = #{adjustAmount,jdbcType=DECIMAL},
      </if>
      <if test="paymentAmount != null" >
        payment_amount = #{paymentAmount,jdbcType=DECIMAL},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=TINYINT},
      </if>
      <if test="refundStatus != null" >
        refund_status = #{refundStatus,jdbcType=TINYINT},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="cancelOperatorId != null" >
        cancel_operator_id = #{cancelOperatorId,jdbcType=BIGINT},
      </if>
      <if test="cancelOperatorName != null" >
        cancel_operator_name = #{cancelOperatorName,jdbcType=VARCHAR},
      </if>
      <if test="cancelTime != null" >
        cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cashierId != null" >
        cashier_id = #{cashierId,jdbcType=BIGINT},
      </if>
      <if test="cashierName != null" >
        cashier_name = #{cashierName,jdbcType=VARCHAR},
      </if>
      <if test="payCounter != null" >
        pay_counter = #{payCounter,jdbcType=INTEGER},
      </if>
      <if test="printCount != null" >
        print_count = #{printCount,jdbcType=INTEGER},
      </if>
      <if test="printTime != null" >
        print_time = #{printTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.midea.cmo2o.wx.impl.entity.TOrderMain" >
    update t_order_main
    set activity_id = #{activityId,jdbcType=BIGINT},
      parent_order_id = #{parentOrderId,jdbcType=VARCHAR},
      ticket_id = #{ticketId,jdbcType=VARCHAR},
      order_type = #{orderType,jdbcType=TINYINT},
      item_amount = #{itemAmount,jdbcType=DECIMAL},
      discount_amount = #{discountAmount,jdbcType=DECIMAL},
      adjust_amount = #{adjustAmount,jdbcType=DECIMAL},
      payment_amount = #{paymentAmount,jdbcType=DECIMAL},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      order_status = #{orderStatus,jdbcType=TINYINT},
      refund_status = #{refundStatus,jdbcType=TINYINT},
      memo = #{memo,jdbcType=VARCHAR},
      cancel_operator_id = #{cancelOperatorId,jdbcType=BIGINT},
      cancel_operator_name = #{cancelOperatorName,jdbcType=VARCHAR},
      cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
      cashier_id = #{cashierId,jdbcType=BIGINT},
      cashier_name = #{cashierName,jdbcType=VARCHAR},
      pay_counter = #{payCounter,jdbcType=INTEGER},
      print_count = #{printCount,jdbcType=INTEGER},
      print_time = #{printTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
</mapper>