<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
        
    <dubbo:application name="cmo2o_wx_consumer" /> 
	
	<dubbo:consumer check="false" />
	
	<!-- 使用zookeeper注册中心暴露服务地址 -->
	<!-- <dubbo:registry address="multicast://224.5.6.7:1234" /> -->
	<dubbo:registry address="${dubbo.registry.address}" />
	<!-- <dubbo:registry address="zookeeper://172.16.14.167:2181" /> -->

	<import resource="classpath:app-spring/dubbo-cmo2o-wx-customer.xml" />
</beans>