<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <property name="LOG_DIR" value="${catalina.base}/logs" /> 
    
	<appender name="trace"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_DIR}/trace.log</File>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_DIR}/trace.%d{yyyy-MM-dd}.log
			</FileNamePattern>
		</rollingPolicy>
	</appender>
	
	<appender name="cmo2o_wx_error"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<File>${LOG_DIR}/cmo2o_wx_error.log</File>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{0} - %msg%n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_DIR}/cmo2o_wx_error.%d{yyyy-MM-dd}.log
			</FileNamePattern>
		</rollingPolicy>
	</appender>
	
	

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoder 默认配置为PatternLayoutEncoder -->
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{0} - %msg%n</pattern>
		</encoder>
	</appender> 

	<logger name="com.alibaba.dubbo" level="info" />
    <logger name="org.apache.ibatis" level="info" />
    <logger name="org.apache.zookeeper" level="WARN" />
    
    <logger name="org.springframework" level="INFO"/>
    
    <logger name="java.sql.Connection" level="WARN" />
    <logger name="java.sql.Statement" level="WARN" />
    <logger name="java.sql.PreparedStatement" level="WARN" />
	
	<logger name="com.midea.cmo2o.wx.impl">
		<appender-ref ref="cmo2o_wx_error" />
		<appender-ref ref="STDOUT" />
	</logger>
	
	<root level="INFO">
		<appender-ref ref="trace" />
	</root>

</configuration>